<% include ../partials/header %>
<div class="admin_page">
    <h1 class="page_text_align">Our admins</h1><hr>
    <% admins.forEach(function(admin){ %>
        <div class="caption">
            <h1 class="page_text_align"><%=admin.first_name%> <%=admin.last_name%> Dashboard</h1><hr>
            <div><img class="thumbnail" src="<%= admin.image %>"></div>
            <div>
                <p><strong>Email: </strong><%= admin.email %></p>
            </div>
        </div>
        <!-- <div>
            <a href="/admin/admins/<%= admin._id %>/edit">Edit</a>
            <form action="/admin/admins/<%= admin._id %>?_method=DELETE" method="POST">
                <button class="">Delete</button>
            </form>
        </div><hr> -->
    <% }); %>
</div>
<% include ../partials/footer %>