<% include ../partials/header %>
<div>
    <h2><%=admin.first_name%> <%= admin.last_name%> Dashboard</h2><hr>
    <div>
        <div><img class="" src="<%=admin.image%>"></div>
        <p><strong>Email: </strong><%=admin.email%></p>
    </div>
    <div>
        <!-- Refactor and link admin with application and print with for loop
        <h3><strong>STATUS: </strong><i><b><%=admin.application.status%></b></i></h3> -->
    </div>
</div>
<% include ../partials/footer %>