<% include ../partials/header %>
<div class="admin_page">
    <h1 class="page_text_align">Our admins</h1><hr>
    <% applications.forEach(function(application){ %>
        <div class="caption">
            <h1 class="page_text_align"><%=application.first_name%> <%=application.last_name%> Dashboard</h1><hr>
            <div>
                <p><strong>Email: </strong><%= application.email %></p>
                <p><strong>Course: </strong><%= application.course %></p>
                <p><strong>School: </strong><%= application.school %></p>
                <p><strong>Profile: </strong><%= application.profile %></p>
            </div>
            <a href="/admin/applications/<%= application._id %>">View Details</a>
        </div>
        <div>
            <a href="/admin/applications/<%= application._id %>/edit">Edit</a>
            <form action="/admin/applications/<%= application._id %>?_method=DELETE" method="POST">
                <button class="">Delete</button>
            </form>
        </div><hr>
    <% }); %>
</div>
<% include ../partials/footer %>