<% include ../partials/header %>
<h1><%=application.career.title%> application Status</h1>
<div>
    <h2><%=application.first_name%> <%=application.last_name%> application Dashboard</h2><hr>
    <div>
        <p><strong>Email: </strong><%=application.email%></p>
        <p><strong>Phone Number: </strong><%=application.phone_number%></p>
        <p><strong>Course: </strong><%=application.course%></p>
        <p><strong>School: </strong><%=application.school%></p>
        <p><strong>State: </strong><%=application.state%></p>
    </div>
    <div>
        <h3><strong>STATUS: </strong><i><b><%=application.status%></b></i></h3>
    </div>
    <div><img class="thumbnail" src="<%= application.image %>"></div>
</div>
<% include ../partials/footer %>