<% include ../partials/header %>
<div class="page_create">
    <h1 class="page_text_align">Management Team</h1><hr>
    <% portfolios.forEach(function(portfolio){ %>
        <div class="page_content">
            <div>
                <div><img class="thumbnail" src="<%= portfolio.image %>"></div>
                <h3><strong><%=portfolio.first_name%> <%=portfolio.last_name%> ~ <%=portfolio.position%></strong></h3><hr>
                <div>
                    <p><strong>Email: </strong><%=portfolio.email%></p>
                    <p><strong>Phone Number: </strong><%=portfolio.phone_number%></p>
                    <p><strong>Profile: </strong><%=portfolio.profile %></p>
                </div>
            </div>
            <div>
                <a href="/admin/portfolios/<%=portfolio._id %>/edit">Edit</a>
                <form action="/admin/portfolios/<%=portfolio._id %>?_method=DELETE" method="POST">
                    <button class="">Delete</button>
                </form>
            </div><hr>
        </div>
    <% }); %>
</div>
<% include ../partials/footer %>