<% include ../partials/header %>
<div class="page_create">
    
    <h1 class="page_text_align">Management Team</h1><hr>
    <a class="button" href="/admin/portfolios/add">Add Staff</a>
    <table class="page_table">
        <thead>
            <tr>
                <th class="page_border">S/N</th>
                <th class="page_border">Image</th>
                <th class="page_border">Name</th>
                <th class="page_border">Actions</th>
            </tr>
        </thead>
        <% portfolios.forEach(function(portfolio, index){ %>
            <div class="caption">
                <tbody>
                    <tr>
                        <td class="page_border"><%=index + 1%></td> 
                        <td class="page_border"><img class="thumbnail" src="<%= portfolio.image %>" style="width:25%; height: 25%;"></td>
                        <td class="page_border"><%=portfolio.first_name%> <%=portfolio.last_name%></td>
                        <td class="page_border">
                            <a class="button" href="/admin/portfolios/<%= portfolio._id %>/edit">Edit</a>
                            <form action="/admin/portfolios/<%= portfolio._id %>?_method=DELETE" method="POST">
                                <button class="button">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </div> 
        <% }); %>
    </table>
</div>
<% include ../partials/footer %>