<% include ../partials/header %>
<div class="page_create">
    <div class="page_content">
        <h1><%=career.title%></h1><hr class="page_hr">
        <div>
            <label><strong>Description: </strong></label>
            <p><%=career.description%></p><br>
            <label><strong>Requirement: </strong></label>
            <p><%=career.requirement%></p><br>
            <label><strong>Eligibility: </strong></label>
            <p><%=career.eligibility%></p><br>
            
        </div>
        <div class="page_text_align"><a class="button" href="/careers/<%= career._id %>/applications/apply">Apply here</a></div>
        <!-- <div>
            <h3><strong>STATUS: </strong><i><b><%=career.status%></b></i></h3>
            if(career.status != 'approved') {
                <a href="#">Apply here</a>
            } else {
                <a href="#">Apply here</a>
            }
        </div> -->
    </div>
</div>
<% include ../partials/footer %>