<% include ../partials/header %>
<div class="page_create">
    <div class="page_content">
        <h1 class="page_text_align">Edit Job</h1>
        <div class="row"></div>
            <form action="/admin/careers/<%=career._id%>?_method=PUT" method="post" novalidate="novalidate">
                <div class="col-sm-6">
                    <div class="form-field">
                        <label for="title">Job Title <span class="page_form_input_required">*</span></label>
                        <input type="text" name="career[title]" value="<%= career.title %>" class="page_form_input" id="title" aria-required="true" aria-invalid="false" />
                    </div>
                    <br>
                    <div class="form-field">
                        <label for="description">Job Description <span class="page_form_input_required">*</span></label>
                        <textarea name="career[description]" cols="40" rows="10" class="page_form_input" id="description" aria-required="true" aria-invalid="false"><%=career.description%></textarea>
                    </div>
                    <br>
                    <div class="form-field">
                        <label for="requirement">Requirement  <span class="page_form_input_required">*</span></label>
                        <textarea name="career[requirement]" cols="40" rows="10" class="page_form_input" id="requirement" aria-required="true" aria-invalid="false"><%=career.requirement%></textarea>
                    </div>
                    <br>
                    <div class="form-field">
                        <label for="eligibility">Eligibility  <span class="page_form_input_required">*</span></label>
                        <textarea name="career[eligibility]" cols="40" rows="10" class="page_form_input" id="eligibility" aria-required="true" aria-invalid="false"><%=career.eligibility%></textarea>
                    </div>
                    <br>
                    <div class="form-field">
                        <label for="status">Job Status <span class="page_form_input_required">*</span></label>
                        <input type="text" name="career[status]" value="<%= career.status %>" class="page_form_input" id="status" aria-required="true" aria-invalid="false" />
                    </div>
                    <br>
                    <div class="page_text_align">
                        <button>Update Job</button>
                    </div>
                </div>
            </form>
    </div>
</div>
<% include ../partials/footer %>