<% include ../partials/header %>
<div>
    <h1><%=career.title%></h1><hr>
    <div>
        <label><strong>Description: </strong></label>
        <p><%=career.description%></p><br>
        <label><strong>Requirement: </strong></label>
        <p><%=career.requirement%></p><br>
        <label><strong>Eligibility: </strong></label>
        <p><%=career.eligibility%></p><br>
        <p><strong>Posted: </strong><%= moment(career.created_date).fromNow() %></p>
    </div><div>
        <a href="/admin/careers/<%=career._id%>/edit">Edit</a>
    </div><hr>
    <% if(career.applications.length > 0){ %>
        <% career.applications.forEach(function(career_application){ %>
            <div class="caption">
                <h1 class="page_text_align"><%=career_application.first_name%> <%=career_application.last_name%> Dashboard</h1><hr>
                <div>
                    <p><strong>Email: </strong><%= career_application.email %></p>
                    <p><strong>Course: </strong><%= career_application.course %></p>
                    <p><strong>School: </strong><%= career_application.school %></p>
                    <p><strong>Profile: </strong><%= career_application.profile %></p>
                    <p><strong>Status: </strong><%= career_application.status %></p>
                    
                </div>
            </div><hr>
        <% }) %>
    <% } else { %>
        <p>No application found!!!!</p>
    <% } %>
</div>
<% include ../partials/footer %>