<% include ./partials/header %>
<div class="main_container">
    <!-- <% include ./partials/search %> -->
    <div class="container">
        <input type="radio" id="i1" name="images" checked/>
        <input type="radio" id="i2" name="images" />
        <input type="radio" id="i3" name="images" />
        <input type="radio" id="i4" name="images"  />
        <div class="slide_img" id="one">		
            <img src="/images/pic.png">
            <label class="prev" for="i4"><span></span></label>
            <label class="next" for="i2"><span></span></label>	
        </div>
        <div class="slide_img" id="two">
            <img src="/images/pic.png">
            <label class="prev" for="i1"><span></span></label>
            <label class="next" for="i3"><span></span></label>
        </div>   
        <div class="slide_img" id="three">
            <img src="/images/pic.png">	
            <label class="prev" for="i2"><span></span></label>
            <label class="next" for="i4"><span></span></label>
        </div>    
        <div class="slide_img" id="four">
            <img src="/images/pic.png">	
            <label class="prev" for="i3"><span></span></label>
            <label class="next" for="i1"><span></span></label>
        </div>
        <div id="nav_slide">
            <label for="i1" class="dots" id="dot1"></label>
            <label for="i2" class="dots" id="dot2"></label>
            <label for="i3" class="dots" id="dot3"></label>
            <label for="i4" class="dots" id="dot4"></label>
        </div>
    </div>
    <div>
        <h2 class="" style="text-align: center; margin: 60px 10px 10px 10px">What's New</h2><hr class="page_hr">
        <div>
            <div style="display:flex; flex-wrap:wrap; justify-content: space-between; text-align: center;">
                <% new_products.forEach(function(new_product){ %>
                    <div style="position:relative; margin: 15px auto;">
                        <a class="" href="/products/<%= new_product.category %>/<%= new_product._id %>">
                            <img src="<%= new_product.image %>"  alt="<%= new_product.name %>" width="320" height="320">
                            <h3 class="blink"><span>NEW!</span></h3>
                            <h4 style="color: #000000"><%= new_product.name %></h4>
                        </a>
                        <!-- <h3>★★★★★</h3> -->
                        <a class="button" href="/products/<%= new_product.category %>/<%= new_product._id %>">View Details</a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- <i class="fa show fa-plus"></i> -->
    <div style="margin: 60px 0 50px 0">
        <h2 class="" style="text-align: center; margin: 20px 10px 10px 10px">Explore our Beauty Bar Products</h2><hr class="page_hr">
        <div style="display:flex; flex-wrap:wrap; justify-content: space-between; text-align: center;">
            <% old_products.forEach(function(old_product){ %>
                <div style="position:relative; margin: 15px auto;">
                    <a class="" href="/products/<%= old_product.category %>/<%= old_product._id %>">
                        <img src="<%= old_product.image %>"  alt="<%= old_product.name %>" width="320" height="320">
                        <h4 style="color: #000000"><%= old_product.name %></h4>
                    </a>
                    <!-- <h3>★★★★★</h3> -->
                    <a class="button" href="/products/<%= old_product.category %>/<%= old_product._id %>">View Details</a>
                </div>
            <% }); %>
        </div>
        <div style="display:flex; flex-wrap:wrap; justify-content: space-between; text-align: center;">
            <button class="button see_all" style="align-items: center; margin: 20px auto">+ See More</button>
            <div class="products hide_all_products">
                <% all_products.forEach(function(all_product){ %>
                    <div style="position:relative; margin: 15px auto;">
                        <a class="" href="/products/<%= all_product.category %>/<%= all_product._id %>">
                            <img src="<%= all_product.image %>"  alt="<%= all_product.name %>" width="320" height="320">
                            <h4 style="color: #000000"><%= all_product.name %></h4>
                        </a>
                        <!-- <h3>★★★★★</h3> -->
                        <a class="button" href="/products/<%= all_product.category %>/<%= all_product._id %>">View Details</a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<!-- <figure>
    <img src="/images/placeholder.svg" data-src="/images/Dove/New.jpg" width="320" height="320">
</figure> -->
<% include ./partials/subscribe %> 
<% include ./partials/main %> 
<% include ./partials/swing %> 
<% include ./partials/footer %> 