<% include ../partials/header %>
<div>
    <h1><%=portfolio.position%></h1><hr>
    <div><img class="" src="<%= portfolio.image %>"></div>
    <h3><strong><%=portfolio.first_name%> <%=portfolio.last_name%></strong></h3><hr>
    <div>
        <p><strong>Email: </strong><%=portfolio.email%></p>
        <p><strong>Phone Number: </strong><%=portfolio.phone_number%></p>
        <p><strong>Profile: </strong><%=portfolio.profile%></p>
    </div>
</div>
<% include ../partials/footer %>