<% include ../partials/header %>
<div class="page_content page_list_item page_desktop_view">
    <div class="page_list_items_image_container">
        <img class="page_list_items_image" src="<%= portfolio.image %>">
    </div>
    <div class="page_list_items_details">
        <p><strong><%=portfolio.first_name%> <%=portfolio.last_name%></strong>, <%=portfolio.position%></p>
        <p><strong>Email: </strong><%=portfolio.email%></p>
        <p><strong>Phone Number: </strong><%=portfolio.phone_number%></p>
        <p><strong>Profile: </strong><%=portfolio.profile%></p>
    </div>
</div>
<% include ../partials/footer %>