<% include ../partials/header %>
<div class="page_content">
    <h1 class="page_text_align">Edit Account</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="post" novalidate="novalidate">
        <div class="col-sm-6">
            <div class="form-field">
                <label for="first_name">First Name <span class="page_form_input_required">*</span></label>
                <input type="text" name="user[first_name]" value="<%= user.first_name %>" placeholder="Enter your First name" class="page_form_input" id="first_name" aria-required="true" aria-invalid="false" />
            </div>
            <br>
            <div class="form-field">
                <label for="last_name">Last Name <span class="page_form_input_required">*</span></label>
                <input type="text" name="user[last_name]" value="<%= user.last_name %>" placeholder="Enter your Last name" class="page_form_input" id="last_name" aria-required="true" aria-invalid="false" />
            </div>
            <br>
            <div class="form-field">
                <label for="email">Email  <span class="page_form_input_required">*</span></label>
                <input type="email" name="user[email]" value="<%= user.email %>" placeholder="Enter your email" class="page_form_input" id="email" aria-required="true" aria-invalid="false" />
            </div>
            <br>
            <div class="form-field">
                <label for="password">Password  <span class="page_form_input_required">*</span>
                </label><input type="password" name="user[password]" value="" placeholder="Enter your password" class="page_form_input" id="password" aria-required="true" aria-invalid="false" />
            </div>
            <br>
            <div class="form-field">
                <label for="image">Image <span class="page_form_input_required">*</span></label>
                <input type="file" name="user[image]" value="<%= user.image %>"  class="page_form_input" id="image" aria-invalid="false" />
            </div>
            <br>
            <div class="wrap">
                <button class="button">Update Account</button>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>