<% include ../partials/header %>
<div class="page_content page_desktop_view">
    <h1 class="page_text_align">Our Products</h1><hr class="page_hr">
    <% products.forEach(function(product){ %>
        <div class="page_list">
            <div class="page_list_items_image_container">
                <img class="page_list_items_image" src="<%= product.image %>">
            </div>
            <div class="page_list_items_details">
                <p class=""><%=product.name%></p><hr>
                <p><strong>Price: </strong>$ <%= product.price %> / Carton</p>
                <p><strong>Description: </strong><%=product.description %></p>
                <a class="button" href="/products/<%= product._id %>">View Details</a>
            </div>
        </div><hr class="page_hr1">
    <% }); %>
</div>
<% include ../partials/footer %>